<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:uw8cd7l9fv.database.windows.net;Database=Booking;User ID=stelio@uw8cd7l9fv;Password=Skypesky1;Trusted_Connection=False;Encrypt=True;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Server=tcp:uw8cd7l9fv.database.windows.net;Database=Booking;User ID=stelio@uw8cd7l9fv;Password=Skypesky1;Trusted_Connection=False;Encrypt=True;" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <!--<httpModules>
        <add name="SWTModule" type="SecurityModule.SWTModule, SecurityModule" />
      </httpModules>-->
      <customErrors mode="Off" />
    </system.web>

  <system.webServer>
   
    <modules>
      <add name="SWTModule" type="SecurityModule.SWTModule, SecurityModule" />
    </modules>
  </system.webServer>

      <system.serviceModel >
     
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    </system.serviceModel>
  <appSettings>
    <add key="serviceNamespace" value="sdbacs"/>
    <add key="acsHostUrl" value="accesscontrol.windows.net"/>
    <!--<add key="realm" value="http://localhost:40000"/>-->
    <add key="realm" value="http://skypebooking.cloudapp.net"/>


    <add key="trustedTokenPolicyKey" value="LdoRf3hzXKPl4CAmCpyJo1PL4otezG9zM5mH6JXEg1Y="/>

  </appSettings>

</configuration>
