<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="serviceNamespace" value="sdbacs"/>
    <add key="acsHostUrl" value="accesscontrol.windows.net"/>
    <!--<add key="realm" value="http://localhost:40000"/>-->
    <!--<add key="uid" value="acssample"/>
    <add key="pwd" value="pass@word1"/>-->
     <add key="realm" value="http://skypebooking.cloudapp.net"/> 
     <add key="uid" value="stelio"/>
    <add key="pwd" value="SkypeTest"/>
    
   <add key="serviceUrl" value="http://skypebooking.cloudapp.net/booking.svc"/> 
    <!--<add key="serviceUrl" value="http://localhost:40000/booking.svc"/>-->
  </appSettings>
</configuration>